.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons__button {
  text-align: center;
}

.buttons__button--control {
  padding: 1.3rem;
  width: 25%;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  color: black;
  font-weight: 300;
  transition: transform .2s ease;

  &:hover, &:focus {
    font-weight: 600;
  } 

  &:active {
    transform: scale(1.1);
  }
}