.main-frame {
    display: flex;
    width: 480px;
    height: 600px;
    overflow: 'hidden';
    background: white;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}