.scene {
   height: 55rem;
}

.scene--image {
  display: block;
  margin: 1.3rem auto;
  width: 78%;
}

.scene__text {
  padding: 0 2rem;
  margin: 4rem 1.2rem;
}

.scene--name {
  font-size: 2.6rem;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  transition: font-size .2s ease;

  &:active {
    font-size: 3rem;
  }
}

.scene--description {
  font-size: 1.7rem;
  font-weight: 200;
  font-style: italic;
}
