@import "./components/reset";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; 
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: black;
}

p, h1, h2, h3, h4, h5 {
  color: white;
}

input, select, button {
  font-size: 1.3rem;
}

@import "./components/wrapper";
@import "./components/scene";
@import "./components/controls";