@import "./components/reset";
@import "mixins";

$dark-red: #51074b;
$med-red: #a50053;
$light-red: #c10056;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; 
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, $dark-red, $med-red 80%, $light-red);
}

p, h1, h2, h3, h4, h5 {
  color: white;
}

input, select, button {
  font-size: 1.3rem;
}

@import "./components/mainframe";